/* welcome to CSS */
/* 
css stands for cascading Style Sheets.
*/

/* external css */
.external {
  color: rgb(0, 143, 7);
  background-color: rgb(253, 189, 173);
}

/* css syntax
  h1 {color: otange;}
  selector {property: value; ....}
*/

/* id selector */
#id1 {
}
/* class selector */
.class1 {
}
/* descendant selectors */
#id2 .class2 em {
  color: antiquewhite;
  background-color: black;
}

/* inheritance */
body {
  font-size: 22px;
  color: rgb(0, 0, 194);
}
/* font family property */
/* use quotation marks if the font name consists of more than one word. */
p.serif {
  font-family: "Times New Roman", Times, serif;
}
p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
p.monospace {
  font-family: "Courier New", Courier, monospace;
}
p.cursive {
  font-family: florence, cursive;
}
p.fantasy {
  font-family: blippo, fantasy;
}
/* font size */
p.small {
  font-size: small;
}
p.medium{
  font-size: medium;
}
p.large{
  font-size: large;
}
p.px{
  font-size: 30px;
}
/* em = pixels / 16 */
p.em{
  font-size: 1.25em;
}
/* font style */
p.italic{
  font-style: italic; 
  /* the same result as the HTML <i> tag */
}
p.oblique{
  font-style: oblique;
}
/* font wieght = 100-900 valurd ir loighter - bold - bolder*/
p.light{
  font-weight: lighter;
}
p.blink{
  text-decoration: underline;
}
p.indent{
  text-indent: 30px;
}
p.shadow{
  text-shadow: 5px 3px 4px grey;
}
/* font-variant small-caps normal and inherit*/
/* color property specified the color of the text. (#) 6 hexadecimal values and RGB */
/* text-align property */
/* vertical-align property */
