@font-face {
  font-family: vazir;
  src: url('font/vazir/vazir.eot');
  src: url('font/vazir/vazir.eot?#iefix') format('vazir-opentype'),
       url('font/vazir/vazir.woff') format('woff'),
       url('font/vazir/vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: titr;
  src: url('font/titr/titr.eot');
  src: url('font/titr/titr.eot?#iefix') format('titr-opentype'),
       url('font/titr/titr.woff') format('woff'),
       url('font/titr/titr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.vazir{
  font-family: vazir;
}

.titr{
  font-family: titr;
}