/**!! این کد برای آیتم آیکن جعبه می باشد با ایجاد یک آیکن جعبه در المنتور در قسمت سی اس اس پیشرفته می توان کد زیر را کپی و یک آیکن جعبه ای با پس زمینه متحرک دایره ای طراحی کرد */
selector{
  position: relative;
  background: #F7F4FD;
  z-index: 1;
  padding: 40px;
  overflow: hidden;
  border-radius: 15px;
}
selector::before{
  content:'';
  position: absolute;
  background: #F7F4FD;
  top: -220px;
  left: -220px;
  width: 220px;
  height: 200px;
  z-index: -1;
  transition: cubic-bezier(0.39,0.58,0.57,1) all 0.3s;
}
selector::after{
  content:'';
  position: absolute;
  background: #FF5AFF;
  background-image: linear-gradient(315deg,#fff 0%, #FF5AFF 74%);
  top: -72px;
  left: -40px;
  width:200px;
  height: 200px;
  border-radius: 50%;
  transition: cubic-bezier(0.39,0.58,0.57,1) all 0.3s;
  z-index: -2;
}
selector:hover::before{
  top: -72px;
  left: -40px;
  border-radius: 50%;
}
selector:hover::after{
  content:'';
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  border-radius: 0;
  transition: cubic-bezier(0.39,0.58,0.57,1) all 0.3s;
}